* {
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(226, 226, 226);
}
.header-img {
    background-image: url('../img/hamburguer.jpeg');
    height: 45vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: -20vw;
    background-size: cover;
}

main{
    padding: 20px 0;
}

a {
    text-decoration: none;
}

header a {
    color: white;
}

header {
    width: 100%;
    background-color: rgb(44, 44, 44);
    color: white;
    margin: 0 !important;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between
}

footer {
    width: 100%;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    padding-left: 30px !important;
    display: flex;
}
.links a, .links i {
    margin: 0 !important;
    padding: 5px 10px;
}

.links .first {
    border-right: 1px solid white;
}
.links .third {
    border-left: 1px solid white;
}

.forms {
    width: 100%;
    padding: 18vh 0;
    display: flex;
    align-self: center;
    justify-content: space-around;
    color: white;
}

.form{
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        
        input{
            border: 1px solid gray;
            background-color: white;
            padding: 5px;
            font-size: 14px;
            margin: 5px 0;
        }
    }
}


.form h2{
    padding: 5px 0;
}